.box {
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#slideshow-container {
    max-width: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#slideshow-container img {
    max-width: 600px;
    transition: transform 0.5s ease;
    flex-shrink: 0;
}

.slide {
    display: flex;
    transition: transform 0.5s ease;
}

.slide img {
    max-width: 600px;
    display: block;
    overflow: hidden;
}